form{
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
ion-input{
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  --padding-start: 10px; /* Ajusta o preenchimento interno esquerdo */
}

ion-button {
  margin-top: 30px;
}

ion-thumbnail{
  --size:100%;
  --border-radius: 8px;
}

